---
- name: Install Docker
  dnf:
    name: docker
    state: present
  tags: docker

- name: Start and enable Docker service
  systemd:
    name: docker
    state: started
    enabled: true
  tags: docker

- name: Create docker group
  group:
    name: docker
    state: present
  tags: docker

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: yes
  tags: docker

- name: Verify Docker is running
  command: docker info
  register: docker_info
  changed_when: false
  tags: docker